@import "tailwindcss";

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/Gilroy-Regular.woff2") format("woff2");
}

:root {
  --background: #232829;
  --foreground: #fff;
  --bg-header: #1d5b43;
  --bg-card: #313637;
  --accent: #fdb056;
  --yellow: #fb0;
  --sale: #fd5656;
  --green: #81fe95;
  --content-box: 1216px;
  --outline: #484d4e;
}

@theme {
  --breakpoint-xs: 375px;
  --breakpoint-md: 1200px;
  --font-family: "Montserrat", sans-serif;
  --font-second-family: "Raleway", sans-serif;
  --font-third-family: "Gilroy", sans-serif;
}
